* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  width: 940px;
}

.container::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

.menu {
  position: relative;
  float: left;
  width: 100%;
  border-radius: 50px;
  background-color: #FBE7C6;
  box-shadow: 0 8px 32px 0 rgba(22, 22, 23, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 30px;
}

.container ul {
  list-style: none;
}

.menu{
    
}

.menu > li {
  float: left;
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-perspective: 1000;
  perspective: 1000px;
}

.menu > li:first-child {
  -webkit-box-shadow: -1px;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), 1px 0 0 rgba(255, 255, 255, 0.25);
}

.menu a {
  display: block;
  position: relative;
  z-index: 10;
  padding: 13px 20px 13px 20px;
  color: #000;
  line-height: 1;
  font-size: 16px;
  background: transparent;
  font-weight: 400;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu > li:hover > a {
  background: #1b3d53;
  color: white;
  text-shadow: none;
  border-radius: 5px;
}

.menu li ul {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 200px;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: transparent;
  overflow: hidden;
  transform-origin: 50% 0%;
}

.menu li:hover ul{
    padding: 15px 0;
    background-color: #FBE7C6;
    box-shadow: 0 8px 32px 0 rgba(22, 22, 23, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    opacity: 1;
    visibility: visible;
    animation-name: swindon;
    animation-duration: 4s;
    animation-timing-function: ease;

}

@keyframes swindon {

    0%{
        opacity: 0.9;
        transform: rotateX(90deg);
    }

    30%{
        transform: rotateX(-20deg) rotateY(5deg);
        animation-timing-function: ease-in-out;
    }
    65%{
        transform: rotateX(20deg) rotateY(-3deg);
        animation-timing-function: ease-in-out;
    }
}